
<td class="record_header" style="font-weight:bold">Name</td>
<td class="record_header" style="font-weight:bold">Contact No.</td>
<td class="record_header" style="font-weight:bold">Address</td>
<td class="record_header" style="font-weight:bold">Birth Date</td>



